<div class="show">
<h1>The Trip</h1>
<br/>
<div class="smaller"><p>Waaaay back in 1980, when I heard that my first cousin had cycled across the U.S., I summarily decided, with a decisiveness that I now envy,
to do the same. The fact that said cousin is female was perhaps a factor ... hey, if a girl could do it ..</p>
<p>So I quit my job, and, with the $1500 profit from selling my treasured Volvo 122S, outfitted myself for the journey. My cousin had tipped me off to a 
set of guidebooks published by Missoula, MT-based Bikecentennial. The organization, inspired by the national Bicentennial, had plotted a cross-country route for
cyclists that kept as much as possible to back roads and provided elaborate detail about budget eating and camping along the way.</p> 
<p>Early in June I packed my new Fuji bicycle in a box and boarded a bus for Yorktown Virginia. Later that day I fumblingly reassembled the bike in
a Yorktown parking lot, attached my panniers, and rode a few miles to the ocean where I ceremoniously dunked my front tire. Then I started riding west.</p>
<p>Over 30 years later, I'm finally getting around to documenting the odyssey. To some extent the project found its rationale in this website, a vehicle for teaching myself the Ruby on Rails web development framework. 
But the method now seems like a good match for the episodic nature of the writing, especially when paired with the very cool Google maps gem for RoR, gmaps4rails.</p></div>

<br/>
<%= gmaps4rails(@json) %>

<%if admin?%>
<br/>
<p><%= link_to 'New Location', new_location_path %><p>
<%end%>
<br/>
<p><%= render :partial => @locations %></p>
<br/>
</div>
