@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
body { 
	margin: 0px;
  text-align: center; 
  min-width: 1000px;
	background-color: #cc3366;
}
.wrapper { 
position: relative;
  margin: 0 auto; 
  text-align: left; 
  border: 2px solid #fff;
  width: 962px;
  background-color: #cc3366;
}

#navbar{
	position: absolute;
	width: 600px;
	left: 574px;
	top: 136px;
	
}
.nav{
	position: absolute;
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

.nav li{
	float: left;
	font: 150%/1.6 "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, 	sans-serif;
	font-weight: bold;
	text-align: center;
	padding-right: 1em;
}

.nav a{
	display: block;
	float: left;
	text-decoration: none;
	color: #000;
}

.nav a:hover{
	color: #5169B2;
	text-decoration: underline;
}

#Table_01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1000px;
	height:645px;
}

#alexstevenson-01_ {
	position:absolute;
	left:0px;
	top:0px;
	width:1000px;
	height:177px;
}

#alexstevenson-02_ {
	position:absolute;
	left: 0px;
	top: 177px;
	padding-top: 40px;
	width: 1000px;
	min-height: 470px;
	height: auto !important;
	height: 470px;
	background-color: #000000;
}

#alexstevenson-03_ {
	position:absolute;
	left:0px;
	top:645px;
	width:1000px;
	height:1343px;
}

#alexstevenson-02_ h1 {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
	font-weight: bold;
	font-size: 210%;
	color: #ffffff;
	padding-left: 50px;
	padding-bottom: 0px;
	}
	
#alexstevenson-02_ h2 {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
	font-weight: bold;
	font-size: 150%;
	color: #ffffff;
	padding-bottom: 10px;
	margin-left: 50px;
	}
	
#alexstevenson-02_ h3 {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
	font-weight: bold;
	font-size: 110%;
	color: #ffffff;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 3px;
	}

#alexstevenson-02_ p {
	color: #ffffff;
	padding-left: 50px;
	}
	
label {
	display: block;
	padding-bottom: 0px;
}
	
.fieldWithErrors label {
	color: white;
	padding-left: 50px;
	padding-bottom: 0px;
	}
	
.fieldWithErrors input{
	color: red;
	margin-left: 50px;
	padding-top: 0px;
	}
	
.fieldWithErrors textarea{
color: black;
	margin-left: 50px;
	}
	
.show{
	width: 750px;
	padding-bottom: 30px;
}

.show h2{
	font-size: 125%;
	color: #ffffff;
	margin-left: 50px;
}

.show h2 a{
	color: #ffffff;
}

.show p a{
	color: #ffffff;
}



span.secret a{
	color: #000000;
}

.pagination span a{
	color: #ffffff;
	margin-left: 50px;
}

table{
	color: #ffffff;
}

.align{
	position:absolute;
	left: 150px;
	
}

.login{
	position: absolute;
	left: 820px;
	color: #fff;
}

.input{
	margin-bottom: 25px;
}

p input{
	margin-top: 0px;
}

p label{
	margin-bottom: 0px;
	margin-top: 20px;
}

.spacer{
	margin-bottom: 5px;
}
