@charset "utf-8";
/* CSS Document */

body { 
	margin: 0px;
  text-align: center; 
  min-width: 1000px;
	background-color: #cc3366;
}
.wrapper { 
position: relative;
  margin: 0 auto; 
  text-align: left; 
  border: 2px solid #fff;
  width: 962px;
  background-color: #cc3366;
}

#navbar{
	position: absolute;
	width: 600px;
	left: 574px;
	top: 136px;
	
}
.nav{
	position: absolute;
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
}

.nav li{
	float: left;
	font: 150%/1.6 "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, 	sans-serif;
	font-weight: bold;
	text-align: center;
	padding-right: 1em;
}

.nav a{
	display: block;
	float: left;
	text-decoration: none;
	color: #000;
}

.nav a:hover{
	color: #5169B2;
	text-decoration: underline;
}

#Table_01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1000px;
	height:645px;
}

#alexstevenson-01_ {
	position:absolute;
	left:0px;
	top:0px;
	width:1000px;
	height:177px;
}

#alexstevenson-02_ {
	position:absolute;
	left: 0px;
	top: 177px;
	padding-top: 40px;
	width: 1000px;
	min-height: 470px;
	height: auto !important;
	height: 470px;
	background-color: #000000;
}

#alexstevenson-03_ {
	position:absolute;
	left:0px;
	top:645px;
	width:1000px;
	height:1343px;
}

#alexstevenson-02_ h1 {
	font-size: 210%;
	color: #ffffff;
	padding-left: 50px;
	}

#alexstevenson-02_ p {
	color: #ffffff;
	padding-left: 50px;
	}
	
label {
	display: block;
	padding-bottom: 0px;
}
	
.fieldWithErrors label {
	color: white;
	padding-left: 50px;
	padding-bottom: 0px;
	}
	
.fieldWithErrors input{
	color: red;
	margin-left: 50px;
	size: 20px;
	padding-top: 0px;
	}
	
.fieldWithErrors textarea{
color: black;
	margin-left: 50px;
	size: 20px;
	}
	
.show{
	width: 750px;
	padding-bottom: 30px;
}

.show h2{
	font-size: 125%;
	color: #ffffff;
	margin-left: 50px;
}

.show h2 a{
	color: #ffffff;
}

.show p a{
	color: #ffffff;
}



span.secret a{
	color: #000000;
}

.pagination span a{
	color: #ffffff;
	margin-left: 50px;
}

table{
	color: #ffffff;
}

.align{
	position:absolute;
	left: 150px;
}

.login{
	position: absolute;
	left: 820px;
	color: #fff;
}
