@charset "utf-8";
.wrapper{
	background-color: #CC0000;
	
	
}	

#ars_content {
	width: 600px;
	float: left;
	min-height: 550px;
	height: auto !important;
	background-color: #000000;
	padding-top: 30px;
}

#ars_content h1 {	
	font-size: 210%;
	font-weight: bold;
	color: #ffffff;
	padding-left: 50px;
	padding-bottom: 0px;
	}
	
#ars_content h2 {
	font-size: 150%;
	font-weight: bold;
	color: #ffffff;
	padding-bottom: 10px;
	margin-left: 50px;
	}
	
#ars_content h3 {
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
	font-weight: bold;
	font-size: 110%;
	color: #ffffff;
	padding-left: 50px;
	padding-top: 10px;
	padding-bottom: 3px;
	}

#ars_content p {
	color: #ffffff;
	padding-left: 50px;
	}
	
#everydaystuff{
	width: 330px;
	float: right;
	padding-right: 10px;
	padding-top: 30px;
	margin-right: 10px;
	min-height: 550px;
	height: auto !important;
}

#everydaystuff h1{
	font-size: 210%;
	font-weight: bold;
	color: #ffffff;
}

#everydaystuff h2{
	font-size: 150%;
	font-weight: bold;
	color: #ffffff;
}

#everydaystuff h3{}

#everydaystuff p{}
	
#ars_footer {
	clear: both;
}
	

