<h3><%= location.tripday_date.strftime("%x")%> - <%=h(location.location_address)%></h3>
<p><%=truncate((RedCloth.new(location.tripday_log)).to_html, :length => 200, :separator => ' ').html_safe%></p>
<span class="more"><%= link_to_unless_current h("More"), location%></span>
<br/>















